ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 10px;
  font-size: 18px;
  margin-top: 5px;
  border: solid 1px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;
}

ul li.checked {
  text-decoration: line-through;
}